<div id="footer">
  <div>
    <div class="footer-block">
      <div class="footer-block-header">
      <button mat-button>
        <span style="color:silver">{{ts.run('menu.menu')}}</span>
      </button>
      </div>
      <ul class="bottom-menu">
        <li>
          <button mat-button clacc="menu-item" [routerLink]="['/']">
            <span style="color:silver">{{ts.run('menu.home')}}</span>
          </button>
        </li>
        <li>
          <button mat-button clacc="menu-item" [routerLink]="['/design']">
            <span style="color:silver">{{ts.run('menu.technologies')}}</span>
          </button>
        </li>
        <li>
          <button mat-button clacc="menu-item" [routerLink]="['/services']">
            <span style="color:silver">{{ts.run('menu.services')}}</span>
          </button>
        </li>
      </ul>
    </div>
    <div class="footer-block">
      <div class="footer-block-header">
        <button mat-button>
          <span style="color:silver">{{ts.run('footer.videos')}}</span>
        </button>
      </div>
    </div>
    <div class="footer-block">
      <div class="footer-block-header">
        <button mat-button>
          <span style="color:silver">{{ts.run('footer.socials')}}</span>
        </button>
      </div>
      <ul>

      </ul>
    </div>
  </div>
  <div class="footer-copy">
    <p>{{ts.run('footer.copy')}}</p>
    </div>
</div>
