<div id="footer">
  <div>
    <div class="footer-block">
      <div class="footer-block-header">
      <button mat-button>
        <span style="color:silver">{{ts.run('menu.menu')}}</span>
      </button>
      </div>
      <ul class="bottom-menu">
        <li>
          <button mat-button clacc="menu-item" [routerLink]="['/']">
            <span style="color:silver">{{ts.run('menu.home')}}</span>
          </button>
        </li>
        <li>
          <button mat-button clacc="menu-item" [routerLink]="['/design']">
            <span style="color:silver">{{ts.run('menu.technologies')}}</span>
          </button>
        </li>
        <li>
          <button mat-button clacc="menu-item" [routerLink]="['/services']">
            <span style="color:silver">{{ts.run('menu.services')}}</span>
          </button>
        </li>
      </ul>
    </div>
    <div class="footer-block">
      <div class="footer-block-header">
        <button mat-button>
          <span style="color:silver">{{ts.run('footer.videos')}}</span>
        </button>
      </div>
      <carousel #carousel="carousel"
                [showControls]="true"
                [slide]="false"
                class="videos">
        <ng-container *ngFor="let video of config.youtube.videos">
          <ng-container *carouselItem>
            <iframe [src]="video | safeUrl" class="video-item"
                    style="border:none"
                    webkitallowfullscreen mozallowfullscreen allowfullscreen>
            </iframe>
          </ng-container>
        </ng-container>
      </carousel>
    </div>
    <div class="footer-block">
      <div class="footer-block-header">
        <button mat-button>
          <span style="color:silver">{{ts.run('footer.socials')}}</span>
        </button>
      </div>
      <ul class="footer-socials">
        <li>
            <a href="{{config.youtube.url}}" title="Youtube"
               target="_blank">
              <mat-icon svgIcon="youtube" style="color: silver"></mat-icon>
            </a>
        </li>
        <li>
            <a href="{{config.facebook.url}}" title="Facebook"
               target="_blank">
              <mat-icon svgIcon="facebook" style="color: silver"></mat-icon>
            </a>
        </li>
        <li>
            <a href="{{config.linkedin.url}}" title="LinkedIn"
               target="_blank">
              <mat-icon svgIcon="linkedin" style="color: silver"></mat-icon>
            </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer-copy">
    <p>{{ts.run('footer.copy')}}</p>
    </div>
</div>
