<div class="business" #business>
  <h2>{{ts.run('business.header')}}</h2>
  <div>
    <div></div>
    <div class="eco-card-transparent-night" [@card]="moveCard">
      <h3>{{ts.run('business.title')}}</h3>
      <ul>
        <li class="eco-card-transparent-night">{{ts.run('business.text_1')}}</li>
        <li class="eco-card-transparent-night">{{ts.run('business.text_2')}}</li>
        <li class="eco-card-transparent-night">{{ts.run('business.text_3')}}</li>
      </ul>
    </div>
  </div>
</div>
